.card_charactersandcomics_container {
  height: fit-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  // background-color: rgb(2, 2, 98);
  // color: rgb(179, 60, 24);

  &-title {
    width: 80%;
    padding: 10px 10px;
    line-height: 10px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    &-img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      border-radius: 10%;
    }
  }

  &-description {
    visibility: hidden;
    display: none;
    width: 200px;
    height: 230px;

    &-text {
      width: 45%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &:hover {
    cursor: pointer;

    .card_charactersandcomics_container {
      &-title {
        width: 430px;
        z-index: 3;
        &-text-Right {
          position: relative;
          text-align: end;
        }
      }

      &-article {
        gap: 30px;
        z-index: 3;
        &-img {
          object-fit: contain;
        }
      }

      &-description {
        transition-property: width;
        // width: 0px;
        // height: 203px;
        padding: 40px 20px 10px 20px;
        visibility: visible;
        display: flex;
        color: red;
        position: absolute;
        z-index: 2;
        background-color: #2d2d2d;
        border-radius: 20px;
        border: solid 1px grey;
        box-shadow: 40px 30px 80px 0px white;
        width: 388px;
        height: 181px;
        &-text {
          overflow: hidden;
          white-space: pre-line;
          text-overflow: ellipsis;
          line-height: 15px;
        }
      }
    }
  }
}
.HoverLeft {
  justify-content: end;
}
.HoverRight {
  justify-content: start;
}

.Text-Right {
  position: relative;
}
