:root {
  --height-header: 60px;
  --height-footer: 60px;
  --height-main: calc(100vh - (var(--height-header) + var(--height-footer)));
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  /* height: 100%; */
}

main {
  min-height: var(--height-main);
  background-color: aqua;
}
.main_container {
  width: 100%;
  min-height: var(--height-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid red 2px;
  &-nav {
    padding: 50px;
    border: solid yellow 2px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
  }
}
